rest-wrapper/n8n/vtiger-agent-demo.json
{
  "name": "vTiger Agent - Demo (SS106 + comentar)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6cc98f3e-d17a-4596-aa87-a69bad587e76",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        608,
        160
      ],
      "webhookId": "vtiger-demo-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Assistente CRM vTiger Gorima. Utente principale: Jean (19x5). Oggi 2026-04-22. Rispondi nella lingua dell'utente; mai tradurre valori di campo o picklist scritti nel CRM. Date YYYY-MM-DD, ore HH:MM:SS.\n\n🔑 ID (NNxNNNN): mai inventarli, modificarli, troncarli; copia verbatim. MAI mostrarli nel testo. Unico posto: a fine messaggio come '[ref]: #<id>' (record singolo) o '[ref-N]: #<id>' (riga lista). Sono invisibili nel chat ma li rileggi nel turno dopo.\n\n🚫 MAI inventare un id. Un id valido viene SOLO da: (a) search_* fatto in questo thread (ref nei tuoi messaggi precedenti), (b) un NNxNNNN digitato dall'utente. Se l'utente dice \"aggiorna/cancella/commento\" senza id e senza nome risolto → chiedi \"Quale record? Nome o id.\" e poi search_*. Mai chiamare get_/update_/delete_/add_comment_ con id casuale.\n\n⚠️ SELEZIONE DA LISTA: solo se nel turno prima hai mostrato lista numerata. Input '3', 'il 3', 'terzo', NNxNNNN, o nome esatto di una riga → NESSUN TOOL, solo testo che conferma e chiede 'cosa vuoi fare?'. Codici tipo 'A2','SS106','CZ13' NON sono selezioni → nuova search_* con q=<codice>.\n\n📋 CAMPI (label IT, usa in input e output):\n\n**Contacts** (12x): firstname=Nome, lastname=Cognome [obbl], title=Titolo, department=Dipartimento, account_id=Nome azienda (mostra accountname), assigned_user_id=Assegnato a, phone=Tel ufficio, mobile=Cellulare, email=Email.\n\n**Accounts** (11x): accountname=Nome Azienda [obbl], assigned_user_id=Assegnato a, cf_1111=Provincia, cf_1103=Regione, cf_1105=Città, cf_1033=Indirizzo, phone=Tel, email1=Email, website=Sito Web, cf_1107=P.IVA, cf_1061=Coordinate GPS.\n\n**Potentials** (13x): potential_no=N. Opportunità [READONLY, sempre primo], potentialname=Nome Opportunità [obbl], related_to=Nome Azienda [obbl,11x], assigned_user_id=Assegnato a, closingdate=Data chiusura [obbl, default oggi+90gg], description=Descrizione, sales_stage=Stadio, cf_969=Regione [obbl], cf_919=Strada, cf_909=Importo Totale, cf_907=Importo OG3, cf_921=Data consegna/aggiudicazione, cf_897=Aggiudicatario, cf_1009=Stazione Appaltante, cf_891=CIG, cf_859=CUP, cf_877=Coordinate GPS.\n\n**Events**: subject=Oggetto [obbl], assigned_user_id [default 19x5], date_start [obbl], time_start [obbl], due_date [default=date_start], time_end [default=time_start+1h], duration_hours [default 1], eventstatus [obbl], activitytype [obbl], description [obbl, ricavala dal contesto], contact_id (12x), parent_id (11x).\nSempre presenti prima di create_event: Oggetto, Data inizio, Ora inizio, Stato, Tipo, Descrizione. Ricorrenze NON supportate.\n\n🎛️ PICKLIST — mostra UI all'utente (sua lingua), invia DB al tool:\n\n- **sales_stage** (UI IT ↔ DB): \"In Prospettiva\"↔Prospecting, \"Lavoro in Corso\"↔`Lavoro in Corso`, \"Chiuso VINTO\"↔`Closed Won`, \"Chiuso PERSO\"↔`Closed Lost`.\n- **eventstatus**: \"Pianificato\"↔Planned, \"Svolto\"↔Held, \"Non svolto\"↔`Not Held`.\n- **activitytype**: \"Chiamata\"↔Call, \"Riunione\"↔Meeting, \"Chiamata da mobile\"↔`Mobile Call`.\n- **cf_969 Regione** (UI=DB maiuscolo): BASILICATA, PUGLIA, CALABRIA, SICILIA, CAMPANIA.\n\nSe input utente non mappa esatto → fermati, mostra etichette UI valide, chiedi di scegliere. Mai inventare né svuotare per aggirare.\n\n⛔ '—' è solo visivo. MAI passarlo come valore. Campo vuoto → ometti dal body del tool (no stringa vuota, no '—').\n\n🧩 INPUT PARZIALE (create/update accumulativo):\n1. Mostra subito riepilogo con TUTTI i campi (vuoti='—', mancanti obbligatori marcati **(obbl)**), poi: *\"Dimmi i mancanti; quando pronto scrivi 'conferma'.\"*\n2. Accumula tra turni: aggiorna solo i campi nuovi, ri-mostra il riepilogo.\n3. Conferma SOLO se tutti gli obbl sono pieni. Altrimenti ricordali e ri-mostra.\n4. Picklist non mappato → lascia il campo vuoto + riga *\"Per <Campo> scegli: <UI options>\"*. Non bloccare gli altri.\n5. 'aggiungi/cambia/togli X' → aggiorna solo X, ri-mostra.\n6. 'annulla/scarta' → abbandona senza chiamare tool.\n7. Input completo al primo turno → vai dritto a riepilogo+'Confermi?'.\n\n=== FLUSSI ===\n\n**Search** (search_*): `q` OBBLIGATORIO. Estrai keywords (nome, cognome, azienda, CIG, CUP, strada). Pulisci verbi ('cerca','trova','aggiorna') ma mantieni l'oggetto. MAI q vuoto (eccetto search_contacts con f_account_id).\n\nRisultati:\n- 0 → avvisa, chiedi se creare.\n- 1 → chiama subito get_<modulo> con quell'id e mostra '📋 **Record trovato**' con TUTTI i campi (vuoti='—', label IT, no id). In fondo: *\"Cosa vuoi fare? (aggiornare/commento/niente)\"*. L'utente non deve chiedere \"dettagli\".\n- >1 → lista numerata di TUTTI (mai troncare). Format:\n  - Contacts: 'Nome Cognome — azienda/—'\n  - Accounts: 'accountname — città/—'\n  - Potentials: 'N. Opp. — potentialname — azienda — stadio'\n  Dopo ogni riga '[ref-N]: #<id>'. Chiedi 'Quale?'. Quando sceglie → get_* + riepilogo completo come nel caso 1.\n\n**Update / add_comment** (fetch-show-confirm-edit-show):\n1. get_* del record.\n2. '📋 **Record attuale**' tutti i campi (vuoti='—').\n3. '✏️ **Modifiche proposte**' (solo cambi: 'campo: vecchio → nuovo'), poi conferma con highlight nome (no id):\n   - Contacts: 'Stai per aggiornare **<Nome Cognome> — <azienda o \"senza azienda\">**. Confermi?'\n   - Accounts: 'Stai per aggiornare **<accountname>**. Confermi?'\n   - Potentials: 'Stai per aggiornare **<N.Opp> <potentialname> — <azienda>**. Confermi?'\n   FERMATI.\n4. Solo dopo SÌ esplicito → update_*/add_comment_*. Invia SOLO i campi che cambiano.\n5. get_* di nuovo + '✅ **Aggiornato**' (stesso formato del passo 2).\n\n**Create account** (0-4):\n0. Parsing dal messaggio iniziale.\n1. Duplicati: search_accounts q=<Nome> (e P.IVA se data). Se hit, lista + '⚠️ È una di queste o nuova?'. Se 0 → 'procedo'.\n2. Riepilogo '🏢 Azienda da creare'.\n3. 'Confermi? (sì/no)'. FERMATI.\n4. Dopo SÌ → create_account → '✅ Azienda creata'.\n\n**Create potential** (0-4):\n0. Parsing (incluso 'per <AZIENDA>'). Risolvi azienda con search_accounts.\n1. Duplicati: UNA search_potentials. q in ordine: CIG > CUP > Strada > nome.\n2. Riepilogo '🎯 Opportunità da creare' (mostra accountname, no id).\n3. 'Confermi?'. FERMATI.\n4. Dopo SÌ → create_potential, poi get_potential per leggere N. Opp auto. → '✅ Opp creata'.\n\n**Create contact**: parsing → '👤 Contatto da creare' → conferma → create_contact (account_id risolto).\n\n**Create event** (1-4):\n1. Riepilogo '📅 Evento proposto' (date/ore auto-calcolate). Contatto inizialmente '—'.\n2. Se contact_id mancante e parent_id è 11x: chiedi *\"Vuoi collegare un contatto? Scrivi nome (cerco), 'nuovo' (lo creo collegato), o 'nessuno'.\"*\n   (a) nome → search_contacts, lista, scegli.\n   (b) nuovo → chiedi Nome+Cognome → create_contact account_id=<azienda>.\n   (c) nessuno → procedi senza.\n3. Riepilogo aggiornato. 'Confermi?'. FERMATI.\n4. Dopo SÌ → create_event → '✅ Evento creato'.\n\n=== REGOLE GENERALI ===\n1. Intento: solo ricerca o ricerca+azione. Non inventare azioni.\n2. Nome→ID: sempre search_* + lista prima di azioni per nome.\n3. Un NNxNNNN non è mai keyword di ricerca.\n4. Update: solo campi che cambiano; se non specificato cosa, chiedi.\n5. Create: default assigned_user_id=19x5.\n6. Mai troncare risultati di search.\n7. Conferma operazioni nella lingua utente.\n8. Riepilogo OBBLIGATORIO prima di create_*/update_* (cuadro completo + SÌ esplicito).\n\n=== ERRORI WRAPPER ===\nBody: `{\"error\":\"<code>\",\"message\":\"<msg>\",\"details\":{...}}`. Reazioni:\n\n- **404 not_found**: id sbagliato/cancellato. NON inventare altro. \"Il record <id> non esiste. Lo cerco per nome?\" + aspetta.\n- **422 id_not_in_recent_results**: id non viene da una search_* di questa sessione (probabilmente inventato). Chiama subito search_<modulo> con il nome del record, prendi l'id reale dalla risposta, ripeti. Se manca il nome, chiedilo.\n- **400 picklist_invalid**: details.allowed contiene i DB validi. Traduci ognuno alla UI label e fai scegliere. Non riprovare a caso.\n- **400 bad_request / invalid_json**: obbligatorio mancante/malformato. Leggi msg, completa, ripeti.\n- **502 vtiger_ws_***: errore backend reale. \"Il CRM ha risposto: <msg>. Riprovo?\". Non re-eseguire da solo.\n- **403 module_not_allowed**: non dovrebbe accadere se segui i flussi.\n\nIn ogni caso il `message` del wrapper è in italiano human-readable — riportalo (tradotto se serve), mai \"Request failed\".\n"
        }
      },
      "id": "37cd22c9-371b-4c67-abf1-f0309b80d403",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        912,
        160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "id": "70070f77-edd3-4ba3-adfa-eb642dfebe50",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "luOUBM6Xnzfaf2u6",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cerca opportunità (Potentials) nel CRM vTiger per parole chiave. Il parametro `q` deve contenere SOLO le parole chiave rilevanti separate da spazi (es: 'SS106', 'JONICA CALABRIA', 'ANAS', nome di una azienda, un CIG, una partita IVA). NON includere parole di contorno come 'cerca', 'opportunità', 'mostra'. La ricerca tokenizza per spazi e richiede che ogni token appaia in almeno uno di questi campi: potentialname, potential_no, description, strada (cf_919), descrizione lavori (cf_925), località (cf_895), aggiudicatario (cf_897), CIG (cf_891), CUP (cf_859), regione (cf_969), ente (cf_915/cf_1009), tipo lavori (cf_913).",
        "url": "http://146.59.192.163/api/Potentials",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "limit",
              "valueProvider": "fieldValue",
              "value": "20"
            },
            {
              "name": "fields",
              "valueProvider": "fieldValue",
              "value": "id,potentialname,potential_no,sales_stage,amount,closingdate,cf_919,cf_895,cf_969,cf_891,cf_897,cf_859,cf_915,cf_1009"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "01f2ba58-c116-45fb-bca0-a1f2e323d56d",
      "name": "search_potentials",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        432
      ]
    },
    {
      "parameters": {
        "toolDescription": "Aggiunge un commento (ModComments) ad una opportunità esistente. Richiede: potential_id in formato '13xNNNN' (lo puoi ottenere prima da search_potentials), e il contenuto testuale del commento.",
        "method": "POST",
        "url": "=http://146.59.192.163/api/Potentials/{potential_id}/comments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "commentcontent",
              "value": "={{ $fromAI('commentcontent', 'Testo del commento', 'string', '') || undefined }}"
            },
            {
              "name": "related_to",
              "value": "={{ $fromAI('related_to', 'Id record collegato (11xNNNN, 12xNNNN, 13xNNNN)', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "potential_id",
              "description": "ID della opportunità in formato 13xNNNN (ottenuto da search_potentials)",
              "type": "string"
            }
          ]
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "4c7314a2-69bf-4819-970e-7855fa8b9fd4",
      "name": "add_comment_to_potential",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        1232
      ]
    },
    {
      "parameters": {
        "toolDescription": "Cerca aziende (Accounts) nel CRM vTiger per parole chiave. Passa nel parametro `q` SOLO le keywords (nome azienda, partita IVA, telefono, email, località). La risposta include l'id in formato '11xNNNN' che serve per collegare contatti/eventi/opportunità ad un'azienda.",
        "url": "http://146.59.192.163/api/Accounts",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "limit",
              "valueProvider": "fieldValue",
              "value": "20"
            },
            {
              "name": "fields",
              "valueProvider": "fieldValue",
              "value": "id,accountname,phone,email1,website,industry,cf_1107,cf_1105,cf_1103,cf_1111,cf_1125"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-search-accounts",
      "name": "search_accounts",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        432
      ]
    },
    {
      "parameters": {
        "toolDescription": "Crea una nuova azienda. PARAMETRO OBBLIGATORIO: `body` (stringa JSON). Esempio: {\"accountname\":\"ACME Srl\"}",
        "method": "POST",
        "url": "http://146.59.192.163/api/Accounts",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "accountname",
              "value": "={{ $fromAI('accountname', 'Nome Azienda (obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1103",
              "value": "={{ $fromAI('cf_1103', 'Regione', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1111",
              "value": "={{ $fromAI('cf_1111', 'Provincia', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1105",
              "value": "={{ $fromAI('cf_1105', 'Citta', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1033",
              "value": "={{ $fromAI('cf_1033', 'Indirizzo (ufficio / sede)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1061",
              "value": "={{ $fromAI('cf_1061', 'Coordinate GPS (ufficio / sede)', 'string', '') || undefined }}"
            },
            {
              "name": "email1",
              "value": "={{ $fromAI('email1', 'Email Principale', 'string', '') || undefined }}"
            },
            {
              "name": "phone",
              "value": "={{ $fromAI('phone', 'Telefono Principale', 'string', '') || undefined }}"
            },
            {
              "name": "website",
              "value": "={{ $fromAI('website', 'Sito Web', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1107",
              "value": "={{ $fromAI('cf_1107', 'P.IVA / Partita IVA', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id dell\\'utente assegnato (formato 19xN; obbligatorio in creazione)', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-create-account",
      "name": "create_account",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        832
      ]
    },
    {
      "parameters": {
        "toolDescription": "Crea un nuovo contatto. PARAMETRO OBBLIGATORIO: `body` (stringa JSON). Esempio: {\"lastname\":\"Rossi\",\"account_id\":\"11x324\"}",
        "method": "POST",
        "url": "http://146.59.192.163/api/Contacts",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "firstname",
              "value": "={{ $fromAI('firstname', 'Nome', 'string', '') || undefined }}"
            },
            {
              "name": "lastname",
              "value": "={{ $fromAI('lastname', 'Cognome (obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "title",
              "value": "={{ $fromAI('title', 'Qualifica / titolo lavorativo (es: Proprietario, Acquisto, Responsabile Tecnico)', 'string', '') || undefined }}"
            },
            {
              "name": "department",
              "value": "={{ $fromAI('department', 'Dipartimento / reparto', 'string', '') || undefined }}"
            },
            {
              "name": "account_id",
              "value": "={{ $fromAI('account_id', 'Id azienda collegata (formato 11xNNNN)', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id dell\\'utente assegnato (formato 19xN; obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "phone",
              "value": "={{ $fromAI('phone', 'Telefono ufficio', 'string', '') || undefined }}"
            },
            {
              "name": "mobile",
              "value": "={{ $fromAI('mobile', 'Cellulare', 'string', '') || undefined }}"
            },
            {
              "name": "email",
              "value": "={{ $fromAI('email', 'Email principale', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-create-contact",
      "name": "create_contact",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        832
      ]
    },
    {
      "parameters": {
        "toolDescription": "Crea una nuova opportunità (Potential) nel CRM vTiger. Obbligatori: `potentialname`, `closingdate` (YYYY-MM-DD), `sales_stage` (picklist), `cf_969` (Regione IT picklist), `assigned_user_id` ('19x5'). Se l'utente menziona un'azienda appaltatrice, prima cerca l'Account con search_accounts e usa il suo id (11xNNNN) come `related_to`. Per la data di chiusura, se l'utente non la specifica, usa una data ragionevole futura (es: 6 mesi dalla data di oggi).",
        "method": "POST",
        "url": "http://146.59.192.163/api/Potentials",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "potentialname",
              "value": "={{ $fromAI('potentialname', 'Nome opportunita\\'', 'string', '') || undefined }}"
            },
            {
              "name": "related_to",
              "value": "={{ $fromAI('related_to', 'Id azienda collegata (formato 11xNNNN)', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id dell\\'utente assegnato (formato 19xN; obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "closingdate",
              "value": "={{ $fromAI('closingdate', 'Data chiusura prevista (YYYY-MM-DD; obbligatorio in creazione; se l\\'utente non la fornisce usa oggi + 90 giorni)', 'string', '') || undefined }}"
            },
            {
              "name": "description",
              "value": "={{ $fromAI('description', 'Descrizione', 'string', '') || undefined }}"
            },
            {
              "name": "sales_stage",
              "value": "={{ $fromAI('sales_stage', 'Stadio di vendita. Valori esatti accettati: Prospecting, Lavoro in Corso, Closed Won, Closed Lost. (Etichette UI IT: In Prospettiva=Prospecting, Chiuso VINTO=Closed Won, Chiuso PERSO=Closed Lost — NON passare le etichette UI.)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_969",
              "value": "={{ $fromAI('cf_969', 'Regione — SOLO una di queste 5 in maiuscolo: BASILICATA, PUGLIA, CALABRIA, SICILIA, CAMPANIA. Altre regioni italiane non sono ammesse.', 'string', '') || undefined }}"
            },
            {
              "name": "cf_919",
              "value": "={{ $fromAI('cf_919', 'Nome Strada', 'string', '') || undefined }}"
            },
            {
              "name": "cf_909",
              "value": "={{ $fromAI('cf_909', 'Importo Totale (numero)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_907",
              "value": "={{ $fromAI('cf_907', 'Importo OG3 (numero)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_921",
              "value": "={{ $fromAI('cf_921', 'Data consegna o aggiudicazione (YYYY-MM-DD)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_897",
              "value": "={{ $fromAI('cf_897', 'Aggiudicatario', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1009",
              "value": "={{ $fromAI('cf_1009', 'Stazione Appaltante', 'string', '') || undefined }}"
            },
            {
              "name": "cf_891",
              "value": "={{ $fromAI('cf_891', 'CIG', 'string', '') || undefined }}"
            },
            {
              "name": "cf_859",
              "value": "={{ $fromAI('cf_859', 'CUP', 'string', '') || undefined }}"
            },
            {
              "name": "cf_877",
              "value": "={{ $fromAI('cf_877', 'Coordinate GPS', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-create-potential",
      "name": "create_potential",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        832
      ]
    },
    {
      "parameters": {
        "toolDescription": "Aggiorna i campi di un'opportunità esistente. Richiede `potential_id` (formato '13xNNNN' da search_potentials) e un body JSON con SOLO i campi da modificare. I campi che non metti nel body non vengono toccati.",
        "method": "PUT",
        "url": "http://146.59.192.163/api/Potentials/{potential_id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "potentialname",
              "value": "={{ $fromAI('potentialname', 'Nome opportunita\\'', 'string', '') || undefined }}"
            },
            {
              "name": "related_to",
              "value": "={{ $fromAI('related_to', 'Id azienda collegata (formato 11xNNNN)', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id dell\\'utente assegnato (formato 19xN; obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "closingdate",
              "value": "={{ $fromAI('closingdate', 'Data chiusura prevista (YYYY-MM-DD; obbligatorio in creazione; se l\\'utente non la fornisce usa oggi + 90 giorni)', 'string', '') || undefined }}"
            },
            {
              "name": "description",
              "value": "={{ $fromAI('description', 'Descrizione', 'string', '') || undefined }}"
            },
            {
              "name": "sales_stage",
              "value": "={{ $fromAI('sales_stage', 'Stadio di vendita. Valori esatti accettati: Prospecting, Lavoro in Corso, Closed Won, Closed Lost. (Etichette UI IT: In Prospettiva=Prospecting, Chiuso VINTO=Closed Won, Chiuso PERSO=Closed Lost — NON passare le etichette UI.)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_969",
              "value": "={{ $fromAI('cf_969', 'Regione — SOLO una di queste 5 in maiuscolo: BASILICATA, PUGLIA, CALABRIA, SICILIA, CAMPANIA. Altre regioni italiane non sono ammesse.', 'string', '') || undefined }}"
            },
            {
              "name": "cf_919",
              "value": "={{ $fromAI('cf_919', 'Nome Strada', 'string', '') || undefined }}"
            },
            {
              "name": "cf_909",
              "value": "={{ $fromAI('cf_909', 'Importo Totale (numero)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_907",
              "value": "={{ $fromAI('cf_907', 'Importo OG3 (numero)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_921",
              "value": "={{ $fromAI('cf_921', 'Data consegna o aggiudicazione (YYYY-MM-DD)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_897",
              "value": "={{ $fromAI('cf_897', 'Aggiudicatario', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1009",
              "value": "={{ $fromAI('cf_1009', 'Stazione Appaltante', 'string', '') || undefined }}"
            },
            {
              "name": "cf_891",
              "value": "={{ $fromAI('cf_891', 'CIG', 'string', '') || undefined }}"
            },
            {
              "name": "cf_859",
              "value": "={{ $fromAI('cf_859', 'CUP', 'string', '') || undefined }}"
            },
            {
              "name": "cf_877",
              "value": "={{ $fromAI('cf_877', 'Coordinate GPS', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "potential_id",
              "description": "ID opportunità in formato 13xNNNN (ottenuto da search_potentials)",
              "type": "string"
            }
          ]
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-update-potential",
      "name": "update_potential",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        1024
      ]
    },
    {
      "parameters": {
        "toolDescription": "Crea un evento. PARAMETRO OBBLIGATORIO: `body` (stringa JSON).",
        "method": "POST",
        "url": "http://146.59.192.163/api/Events",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "subject",
              "value": "={{ $fromAI('subject', 'Oggetto dell\\'evento', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id utente assegnato (formato 19xN; default 19x5 Jean)', 'string', '') || undefined }}"
            },
            {
              "name": "date_start",
              "value": "={{ $fromAI('date_start', 'Data inizio (YYYY-MM-DD)', 'string', '') || undefined }}"
            },
            {
              "name": "time_start",
              "value": "={{ $fromAI('time_start', 'Ora inizio (HH:MM:SS)', 'string', '') || undefined }}"
            },
            {
              "name": "due_date",
              "value": "={{ $fromAI('due_date', 'Data fine (YYYY-MM-DD). Se non fornita dall\\'utente, copia date_start.', 'string', '') || undefined }}"
            },
            {
              "name": "time_end",
              "value": "={{ $fromAI('time_end', 'Ora fine (HH:MM:SS). Se non fornita dall\\'utente, calcola come time_start + 1 ora.', 'string', '') || undefined }}"
            },
            {
              "name": "duration_hours",
              "value": "={{ $fromAI('duration_hours', 'Durata in ore (intero; default 1)', 'string', '') || undefined }}"
            },
            {
              "name": "eventstatus",
              "value": "={{ $fromAI('eventstatus', 'Stato evento (Planned, Held, Not Held). Se l\\'evento e\\' gia\\' avvenuto usa Held.', 'string', '') || undefined }}"
            },
            {
              "name": "activitytype",
              "value": "={{ $fromAI('activitytype', 'Tipo attivita\\' (Call, Meeting, Mobile Call)', 'string', '') || undefined }}"
            },
            {
              "name": "description",
              "value": "={{ $fromAI('description', 'Descrizione / note', 'string', '') || undefined }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $fromAI('contact_id', 'Id contatto collegato (formato 12xNNNN)', 'string', '') || undefined }}"
            },
            {
              "name": "parent_id",
              "value": "={{ $fromAI('parent_id', 'Id record collegato, tipicamente azienda (formato 11xNNNN). Puo\\' essere anche 12xNNNN o 13xNNNN.', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-create-event",
      "name": "create_event",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1408,
        432
      ]
    },
    {
      "parameters": {
        "toolDescription": "Cerca contatti (Contacts) nel CRM vTiger per parole chiave. Il parametro `q` deve contenere nome, cognome, email o telefono del contatto cercato. Estrai sempre queste keywords dal messaggio utente (es: utente 'aggiorna contatto Luca Ferrari' -> q='Luca Ferrari'; utente 'trova mario.rossi@gmail.com' -> q='mario.rossi@gmail.com'). NON includere verbi conversazionali tipo 'cerca', 'trova', 'aggiorna'. La risposta include l'id nel formato '12xNNNN'.",
        "url": "http://146.59.192.163/api/Contacts",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "limit",
              "valueProvider": "fieldValue",
              "value": "20"
            },
            {
              "name": "fields",
              "valueProvider": "fieldValue",
              "value": "id,firstname,lastname,email,phone,mobile,title,account_id,assigned_user_id"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": []
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-search-contacts",
      "name": "search_contacts",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        432
      ]
    },
    {
      "parameters": {
        "toolDescription": "Aggiorna i campi di un'azienda. PARAMETRI OBBLIGATORI: `account_id` (11xNNNN) e `body` (stringa JSON). Esempio body: {\"industry\":\"Retail\"}",
        "method": "PUT",
        "url": "http://146.59.192.163/api/Accounts/{account_id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "accountname",
              "value": "={{ $fromAI('accountname', 'Nome Azienda (obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1103",
              "value": "={{ $fromAI('cf_1103', 'Regione', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1111",
              "value": "={{ $fromAI('cf_1111', 'Provincia', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1105",
              "value": "={{ $fromAI('cf_1105', 'Citta', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1033",
              "value": "={{ $fromAI('cf_1033', 'Indirizzo (ufficio / sede)', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1061",
              "value": "={{ $fromAI('cf_1061', 'Coordinate GPS (ufficio / sede)', 'string', '') || undefined }}"
            },
            {
              "name": "email1",
              "value": "={{ $fromAI('email1', 'Email Principale', 'string', '') || undefined }}"
            },
            {
              "name": "phone",
              "value": "={{ $fromAI('phone', 'Telefono Principale', 'string', '') || undefined }}"
            },
            {
              "name": "website",
              "value": "={{ $fromAI('website', 'Sito Web', 'string', '') || undefined }}"
            },
            {
              "name": "cf_1107",
              "value": "={{ $fromAI('cf_1107', 'P.IVA / Partita IVA', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id dell\\'utente assegnato (formato 19xN; obbligatorio in creazione)', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "account_id",
              "description": "Id 11xNNNN",
              "type": "string"
            }
          ]
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-update-account",
      "name": "update_account",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        1024
      ]
    },
    {
      "parameters": {
        "toolDescription": "Aggiorna i campi di un contatto. PARAMETRI OBBLIGATORI: `contact_id` (12xNNNN) e `body` (stringa JSON con i campi). Esempio body: {\"title\":\"Acquisto\"}",
        "method": "PUT",
        "url": "http://146.59.192.163/api/Contacts/{contact_id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "firstname",
              "value": "={{ $fromAI('firstname', 'Nome', 'string', '') || undefined }}"
            },
            {
              "name": "lastname",
              "value": "={{ $fromAI('lastname', 'Cognome (obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "title",
              "value": "={{ $fromAI('title', 'Qualifica / titolo lavorativo (es: Proprietario, Acquisto, Responsabile Tecnico)', 'string', '') || undefined }}"
            },
            {
              "name": "department",
              "value": "={{ $fromAI('department', 'Dipartimento / reparto', 'string', '') || undefined }}"
            },
            {
              "name": "account_id",
              "value": "={{ $fromAI('account_id', 'Id azienda collegata (formato 11xNNNN)', 'string', '') || undefined }}"
            },
            {
              "name": "assigned_user_id",
              "value": "={{ $fromAI('assigned_user_id', 'Id dell\\'utente assegnato (formato 19xN; obbligatorio in creazione)', 'string', '') || undefined }}"
            },
            {
              "name": "phone",
              "value": "={{ $fromAI('phone', 'Telefono ufficio', 'string', '') || undefined }}"
            },
            {
              "name": "mobile",
              "value": "={{ $fromAI('mobile', 'Cellulare', 'string', '') || undefined }}"
            },
            {
              "name": "email",
              "value": "={{ $fromAI('email', 'Email principale', 'string', '') || undefined }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "contact_id",
              "description": "Id 12xNNNN",
              "type": "string"
            }
          ]
        },
        "specifyBody": "keypair",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-update-contact",
      "name": "update_contact",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        1024
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "memory-buffer-window",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "toolDescription": "Recupera i dati di un singolo contatto (Contact) dato il suo id (formato '12xNNNN'). Usalo PRIMA di update_contact / create_event collegato / ogni volta che serve mostrare all'utente lo stato attuale di un contatto. Restituisce tutti i campi principali.",
        "url": "http://146.59.192.163/api/Contacts/{id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "id",
              "description": "Id del record (formato 12xNNNN)",
              "type": "string"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-get-contact",
      "name": "get_contact",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Recupera i dati di una singola azienda (Account) dato il suo id (formato '11xNNNN'). Usalo PRIMA di update_account o quando serve mostrare all'utente lo stato attuale dell'azienda.",
        "url": "http://146.59.192.163/api/Accounts/{id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "id",
              "description": "Id del record (formato 11xNNNN)",
              "type": "string"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-get-account",
      "name": "get_account",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Recupera i dati di una singola opportunita' (Potential) dato il suo id (formato '13xNNNN'). Usalo PRIMA di update_potential o add_comment_to_potential, o quando serve mostrare all'utente lo stato attuale dell'opportunita'.",
        "url": "http://146.59.192.163/api/Potentials/{id}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer __REPLACE_WITH_API_TOKEN__"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "X-Session-Id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "id",
              "description": "Id del record (formato 13xNNNN)",
              "type": "string"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "tool-get-potential",
      "name": "get_potential",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        624
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "search_potentials": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_comment_to_potential": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_accounts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_account": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_potential": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_potential": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_account": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_account": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_potential": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}